@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  direction: rtl;
}

.header-shadow {
  box-shadow: 0px 3px 15px 3px rgba(34, 34, 34, 0.1);
}

.bottomSheet {
  position: fixed;
  bottom: -100%;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 28rem;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  transition: bottom 0.3s ease-in-out;
  border: 1px solid black;
}

.open {
  bottom: 0;
}

.sheetContent {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sheetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  border-bottom: 1px solid #e0e0e0;
}

.sheetBody {
  padding: 24px 20px;
  height: 70vh;
  overflow: auto;
}

.AddressRadio {
  width: 25px;
  height: 24px;
  background-color: #ffa500;
}
